.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  text-align:center;
}

.state {
  width: 170px;
  height: 35px;
  border-radius: 30px;
  background-color:#E6E9E5;
}

.select {
  width:100%;
  height: 100%;
  border-radius: 30px;
  background-color:#E6E9E5;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.green {
  width:100%;
  height: 100%;
  border-radius: 30px;
  background: #BEF2B3;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.yellow {
  width:100%;
  height: 100%;
  border-radius: 30px;
  background: #E8DB8A;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.red {
  width:100%;
  height: 100%;
  border-radius: 30px;
  background: #F4C3B6;  
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.blue {
  width:100%;
  height: 100%;
  border-radius: 30px;
  background: #92D3E1;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}