@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=PT+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Mono', monospace;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}