.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}

.courier__container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 30px 0 150px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 110px;
}

.header__row button{
  background-color: white;
  cursor: pointer;
}

.website__information {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.website__information span {
  font-family: Fira Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.profile__information {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.profile__information span {
  font-family: Fira Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.courier__profile__information {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.courier__profile__information span {
  font-family: Fira Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.other {
  font-family: Fira Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  gap: 10px;
  display:flex;
  align-items: center;
  color: black;
  text-decoration:none;
  min-width: 185px;
  justify-content: center;
}

.search {
  width: 705px;
  height: 45px;
  background-color: #E6E9E5;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
}

.courier__search {
  width: 705px;
  height: 30px;
  background-color: #E6E9E5;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
}

input:focus {
  outline: 0 none;
}

.input {
  width:100%;
  height:100%;
  background-color:#E6E9E5;
  border-radius: 30px;
  font-family: Fira Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 10px;
}

.searchHeader {
  padding: 30px 0 20px;
}

.pageName{
  font-family: Fira Mono;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.courier__pageName{
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.exitCourier{
  font-family: Fira Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.exit{
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}